# Dependencies
node_modules/
*/node_modules/

# Local Environment Files
.env
.env.local
.env.development.local
.env.test.local
.env.production.local
*/.env
*/.env.*

# Production / Build outputs
/frontend/dist/
/frontend/build/
/frontend/.vite/
.vercel
.netlify

# Logs
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*
*.log

# System/OS Files
.DS_Store
.DS_Store?
._*
.Spotlight-V100
.Trashes
ehthumbs.db
Thumbs.db

# IDE / Editor configurations
.idea/
.vscode/
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?

# High-Level Design Document
HLD_Search_Typeahead.md
project_report.md

# Large Dataset CSVs (uncomment if you want to keep them out of git history)
# *.csv
# /search_queries.csv
# /backend/mock_dataset.csv
